extends layout
block content
  h1 List of Violations
  br
  table.table.table-striped.table-bordered
    tr
      td id
      td Category
      td Probability
      td Date
    if (typeof trashe === "undefined")
      tr
        td
    else
      each item in trashe
        tr
          td #{item.id}
          td #{item.prediction}
          td #{item.probability}
          - var date  = new Date(item.timestamp);
          - var day   = date.getDate();
          - var month = date.getMonth() + 1;
          - var year  = date.getFullYear();
          - var hours = date.getHours();
          - var min   = date.getMinutes();
          - var sec   = date.getSeconds();
          td #{month + "/" + day + "/" + year + " " + hours + ":" + min + ":" + sec}
    hr
